body {
  background: beige;
}

.story {
  background: url("/images/path.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 10%;
  height: 640px;
}

.story p {
  font-size: 18px;
}
